<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>회원 상세</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
  <h2>회원 상세 정보</h2>
  <input type="hidden" value="userIdx">
  <p>ID: <span id="userId"></span></p>
  <p>이름: <input type="text" id="userNm" /></p>
  <p>권한: <span id="userAuth"></span></p>

  <button id="updateBtn">수정</button>
  <button id="deleteBtn">삭제</button>

  <script>
    const token = localStorage.getItem("token");
    const userIdx = new URLSearchParams(window.location.search).get("userIdx");

    if (!token || !userIdx) {
      alert("잘못된 접근입니다.");
      window.location.href = "/login";
    }

    $.ajax({
      url: "/api/v1/users/" + userIdx,
      type: "GET",
      headers: {
        "Authorization": "Bearer " + token
      },
      success: function(user) {
        console.log(user)
        console.log("user (stringify):", JSON.stringify(user, null, 2));
        $("#userIdx").text(user.userIdx);
        $("#userId").text(user.userId);
        $("#userNm").val(user.userNm);
        $("#userAuth").text(user.userAuth);
      },
      error: function() {
        alert("접근 오류");
        window.location.href = "/login";
      }
    });

    $("#updateBtn").on("click", function() {
      const newName = $("#userNm").val();

      $.ajax({
        url: "/api/v1/users/" + userIdx,
        type: "PUT",
        contentType: "application/json",
        headers: {
          "Authorization": "Bearer " + token
        },
        data: JSON.stringify({ userNm: newName }),
        success: function() {
          alert("수정 완료");
          location.reload();
        },
        error: function() {
          alert("수정 실패");
        }
      });
    });

    $("#deleteBtn").on("click", function() {
      if (!confirm("정말 삭제하시겠습니까?")) return;

      $.ajax({
        url: "/api/v1/users/" + userIdx,
        type: "DELETE",
        headers: {
          "Authorization": "Bearer " + token
        },
        success: function() {
          alert("삭제 완료");
          window.location.href = "/admin/userlist";
        },
        error: function() {
          alert("삭제 실패");
        }
      });
    });
  </script>
</body>
</html>
